<!--        nơi đổ dữ liệu router-outlet              -->
<fieldset class="scheduler-border ">
  <legend class="scheduler-border text-center align-content-center"><h2>Chỉnh sửa nhân viên</h2></legend>
  <br>
  <form [formGroup]="employeeForm" (ngSubmit)="updateEmployee()" #formGroupRef="ngForm" class="form-group col-12">
    <div class="row input-group">
      <div class="col-4 folow-right">
        <span>Mã nhân viên <label>(*)</label></span>
      </div>
      <div class="col-8">
        <div class="d-flex align-items-center">
          <input formControlName="employeeCode" class="form-control" type="text" readonly>
        </div>
      </div>
    </div>
    <br>
    <div class="row input-group">
      <div class="col-4 folow-right">
        <span>Tên nhân viên <label>(*)</label></span>
      </div>
      <div class="col-8">
        <input formControlName="employeeName" class="form-control" type="text" >
        <small>
          <div class="text-danger" *ngFor="let validation of validationMessage.employeeName">
            <div class="error-message"
                 *ngIf="employeeForm.get('employeeName').hasError(validation.type) && (employeeForm.get('employeeName').dirty || employeeForm.get('employeeName').touched || formGroupRef.submitted)">
              {{validation.message}}</div>
          </div>
        </small>
      </div>
    </div>
    <br>
    <div class="row input-group">
      <div class="col-4 folow-right">
        <span>Địa chỉ <label>(*)</label></span>
      </div>
      <div class="col-8">
        <input formControlName="employeeAddress" class="form-control" type="text" >
        <small>
          <div class="text-danger" *ngFor="let validation of validationMessage.employeeAddress">
            <div class="error-message"
                 *ngIf="employeeForm.get('employeeAddress').hasError(validation.type) && (employeeForm.get('employeeAddress').dirty || employeeForm.get('employeeAddress').touched) ">
              {{validation.message}}</div>
          </div>
        </small>
      </div>
    </div>
    <br>
    <div class="row input-group">
      <div class="col-4 folow-right">
        <span>Điện thoại <label>(*)</label></span>
      </div>
      <div class="col-8">
        <input formControlName="employeePhone" class="form-control" type="text" >
        <small>
          <div class="text-danger" *ngFor="let validation of validationMessage.employeePhone">
            <div class="error-message"
                 *ngIf="employeeForm.get('employeePhone').hasError(validation.type) && (employeeForm.get('employeePhone').dirty || employeeForm.get('employeePhone').touched) ">
              {{validation.message}}</div>
          </div>
        </small>
      </div>
    </div>
    <br>
    <div class="row input-group">
      <div class="col-4 folow-right">
        <span>Ngày vào làm <label>(*)</label></span>
      </div>
      <div class="col-8">
        <input formControlName="employeeStartDate" type="date" class="form-control">
        <small><div class="text-danger" *ngFor="let validation of validationMessage.employeeStartDate">
          <div class="error-message"
               *ngIf="employeeForm.get('employeeStartDate').hasError(validation.type) && (employeeForm.get('employeeStartDate').dirty || employeeForm.get('employeeStartDate').touched)">
            {{validation.message}}</div>
        </div>
        </small>
      </div>
    </div>
    <br>
    <div class="row input-group">
      <div class="col-4 folow-right">
        <span>Tên tài khoản <label>(*)</label></span>
      </div>
      <div class="col-8">
        <input formControlName="accountName" class="form-control" type="text">
        <div class="text-danger" *ngFor="let validation of validationMessage.accountName">
          <div class="error-message"
               *ngIf="employeeForm.get('accountName').hasError(validation.type) && (employeeForm.get('accountName').dirty || employeeForm.get('accountName').touched)">
            {{validation.message}}</div>
        </div>
      </div>
    </div>
    <br>
    <div class="row input-group">
      <div class="col-4 folow-right">
        <span>Chức vụ <label>(*)</label></span>
      </div>
      <div class="col-8">
        <select  class="form-control" formControlName="position" [compareWith]="compareFn">
          <option value="Nhân viên">Nhân viên</option>
          <option value="Quản lý">Quản lý</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row input-group">
      <div class="col-4 folow-right">
        <span>Ghi chú <label>(*)</label></span>
      </div>
      <div class="col-8">
        <input formControlName="employeeNote" class="form-control" type="text">
      </div>
    </div>
    <div class="d-flex justify-content-end margin">
      <button class="mr-2 btn btn-success"  type="submit" ><i class="fa fa-check" aria-hidden="true"></i> Hoàn tất
      </button>
      <a href="/employee" class="mr-2 btn btn-back"><i class="icon-sidebar fa fa-reply"></i> Trở về</a>
    </div>
  </form>
</fieldset>
