<div class="container" style="overflow-x: hidden">
  <h1 class="text-center mb-3">Đơn thuốc</h1>
  <form [formGroup]="prescriptionForm" (ngSubmit)="submit()" #formGroupRef="ngForm">
    <div class="">
      <div class="d-flex mb-3">
        <div class="col-2">
          <label class=" mt-1  d-flex">Tên đơn thuốc <p style=" color: red">(*)</p></label>
        </div>
        <div class="col-10">
          <input class="form-control " type="text" formControlName="prescriptionName">
        </div>
      </div>
      <div class=""
           *ngIf="!prescriptionForm.get('prescriptionName').valid && (prescriptionForm.get('prescriptionName').dirty ||prescriptionForm.get('prescriptionName').touched || formGroupRef.submitted)">
        <div [hidden]="!prescriptionForm.get('prescriptionName').errors.required" class="d-flex">
          <span
            style="color: red; margin-left: 200px;margin-top: -17px ">Vui lòng không được nhập trống tên đơn thuốc !</span>
        </div>
      </div>
      <div class="d-flex mb-3">
        <div class="col-2">
          <label class="label-text-min mt-1 ml-1 d-flex">Mã đơn thuốc </label>
        </div>
        <div class="col-10">
          <input [(ngModel)]="code" class="form-control pl-2" type="text" formControlName="prescriptionCode" readonly
                 style="background: white">
        </div>
      </div>
      <div class="d-flex mb-3">
        <div class="col-2">
          <label class="label-text-min mt-1 ml-1 d-flex">Triệu chứng <p style=" color: red">(*)</p></label>
        </div>
        <div class="col-10">
          <input class="form-control pl-2" type="text" formControlName="symptom">
        </div>
      </div>
      <div class="d-flex"
           *ngIf="!prescriptionForm.get('symptom').valid && (prescriptionForm.get('symptom').dirty ||prescriptionForm.get('symptom').touched || formGroupRef.submitted)">
        <div [hidden]="!prescriptionForm.get('symptom').errors.required" class="d-flex">
          <span
            style="color: red; margin-left: 200px;margin-top: -17px ">Vui lòng không được nhập trống triệu chứng !</span>
        </div>
      </div>
      <div class="d-flex mb-3">
        <div class="col-2">
          <label class="label-text-min mt-1 ml-1 d-flex"><p>Ghi chú </p></label>
        </div>
        <div class="col-10">
          <input class="form-control pl-2 " formControlName="note">
        </div>
      </div>
      <br>
    </div>

    <div class="row">
      <div class="col-2">
        <label class="label-text-min ml-3  mt-1">Đối tượng</label>
      </div>
      <div class="col-4">
        <select class="form-control  mr-5" style="width: 70%;margin-left: 10px" formControlName="object">
          <option value="" [selected]="true">----Chọn----</option>
          <option value="Trẻ em">Trẻ em</option>
          <option value="Người lớn">Người lớn</option>
          <option value="Phụ nữ mang thai">Phụ nữ mang thai</option>
        </select>
      </div>

      <div class="col-2">
        <label class="label-text-min mt-1 ml-5  ">Số ngày uống</label>
      </div>
      <div class="col-4"><input type="number" class="form-control mr-2 " style="width: 96%;"
                                formControlName="numberOfDay"></div>
    </div>
    <div class="d-flex"
         *ngIf="!prescriptionForm.get('numberOfDay').valid && (prescriptionForm.get('numberOfDay').dirty ||prescriptionForm.get('numberOfDay').touched || formGroupRef.submitted)">
      <div [hidden]="!prescriptionForm.get('numberOfDay').errors.required">
        <span
          style="color: red; margin-left: 770px;margin-top: -17px ">Vui lòng không được nhập trống số ngày uống !</span>
      </div>
    </div>
    <fieldset class="scheduler-border">
      <legend class="scheduler-border">Chỉ định</legend>
      <div class="mb-3" formArrayName="indicatives">

        <div *ngFor="let item of indicatives.controls ; let indicativeIndex=index" [formGroupName]="indicativeIndex">
          <div class="d-flex justify-content-between row">
            <span class="ml-5 mt-2">{{indicativeIndex + 1}}</span>
            <div class=" col-6">
              <select class="select form-control" formControlName="drug">
                <option *ngFor="let d of drugs " [ngValue]="d" >{{d.drugName}}</option>
              </select>
            </div>
            <div class="col-2 d-flex">
              <input value="{{item[2]*item[3]}}" class="vien mr-4 form-control ml-2" type="number"
                     formControlName="totalPill" readonly> <span
              class="mt-2 ">Viên</span>
            </div>
            <div class=" col-2">
        <span (click)="deleteIndicative(indicativeIndex)">
        <i style="color: red;width: 200%" class="fa fa-trash-o btn-lg mr-5 mt-1 "
           aria-hidden="true"></i></span>
            </div>
          </div>
          <br>
          <div class="d-flex row">
            <div class="col-8 d-flex  " style="margin-left: 80px">
              <p class="mt-2">Ngày uống</p>
              <input [(ngModel)]="item[2]" type="number" class="ml-2 vien form-control" formControlName="drinkDay">
              <p class="ml-2 mt-2 mr-5">lần , </p>
              <span class="mt-2 mr-3"> mỗi lần</span>
              <input [(ngModel)]="item[3]" type="number" class=" vien  form-control " formControlName="drinkTime">
              <span class="mt-2 ml-4">Viên</span>
            </div>
            <br>
            <div class="row d-flex ">
              <div class="col-4">
              </div>
            </div>
          </div>
          <br>
        </div>

        <br>
      </div>
      <div class="row d-flex">
        <div class="col-4"></div>
        <div class="col-8 ">
          <button (click)="addIndicative()" class="mt-3 btn  ml-5 border border-secondary  " type="button"><i
            class="fa fa-plus" aria-hidden="true"></i>
            Thêm thuốc
          </button>
        </div>
      </div>
    </fieldset>

    <div class="row d-flex">
      <div class="col-4">
      </div>
      <div class="">
        <div class="d-flex flex-row-reverse pt-4 pb-5">
          <button class=" btn btn-danger huy" type="button" routerLink="/prescription/prescription-list"><i
            class="fa fa-times-circle"
            aria-hidden="true"></i>Hủy
          </button>
          <button class="mr-5 btn btn-success" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Thêm
            <!--            [disabled]="!prescriptionForm.valid"-->
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
->
