#report-button {
  position: relative;
}

#msg-date {
  position: absolute;
  top: 40px;
  left: 0;
}

.btn-search:hover {
  background-color: #52B6C1;
}

.btn-search {
  color: white;
  background-color: #567FEA;
}

#chart {

  margin: 0px auto;
}
