html{
  font-family: Tahoma;
}
.selected {
  background: #63B8FF !important;
  color: white;
}
.btn-create {
  background-color: #2fc1a6;
  color: white;
}
.btn-create:hover {
  background-color: #52B6C1;
}

