<div class="container " style="margin-top: 30px">

  <form class=" p-3" [formGroup]="manufacturerForm" (ngSubmit)="submit()">

    <div class="">
      <div class="container" style="background: #567FEA;height: 50px"><h2 style="text-align: center;line-height: 50px">THÊM NHÀ CUNG CẤP</h2></div>
      <div class="row mb-3 mt-3">
        <label for="manufacturerCode" class="label-text col-3">Mã nhà cung cấp (<span style="color: red">*</span>):</label>
        <div class="col-9">

          <input formControlName="manufacturerCode" class="form-control m-0" type="text" id="manufacturerCode">
          <small style="color: red" *ngIf="manufacturerForm.get('manufacturerCode')?.hasError('required')&& manufacturerForm.get('manufacturerCode')?.touched">Mã nhà cung cấp không được để rỗng.</small>
          <small style="color: red" *ngIf="manufacturerForm.get('manufacturerCode')?.hasError('pattern')&& manufacturerForm.get('manufacturerCode')?.touched">Nhập đúng định dạng mã nhà cung cấp.</small>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="manufacturerName" class="label-text col-3">Tên nhà cung cấp (<span style="color: red">*</span>):</label>
        <div class="col-9">
          <input formControlName="manufacturerName" class="form-control" type="text" id="manufacturerName">
          <small *ngIf="manufacturerForm.get('manufacturerName')?.hasError('required')&& manufacturerForm.get('manufacturerName')?.touched" style="color: red">Tên nhà cung cấp không được để rỗng.</small>

          <small *ngIf="manufacturerForm.get('manufacturerName')?.hasError('pattern')&& manufacturerForm.get('manufacturerName')?.touched" style="color: red">Nhâp đúng định dạng tên nhà cung cấp. </small>

        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="manufacturerAddress" class="label-text col-3">Địa chỉ (<span style="color: red">*</span>):</label>
        <div class="col-9">
          <input formControlName="manufacturerAddress" class="form-control" type="text" id="manufacturerAddress">
          <small *ngIf="manufacturerForm.get('manufacturerAddress')?.hasError('required')&& manufacturerForm.get('manufacturerAddress')?.touched" style="color: red">Địa chỉ không được để rỗng.</small>

          <small *ngIf="manufacturerForm.get('manufacturerAddress')?.hasError('pattern')&& manufacturerForm.get('manufacturerAddress')?.touched" style="color: red">Nhâp đúng định dạng địa chỉ. </small>

        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="manufacturerPhoneNumber" class="label-text col-3">Số điện thoại (<span style="color: red">*</span>):</label>
        <div class="col-9">

          <input formControlName="manufacturerPhoneNumber"  class="form-control" type="text" id="manufacturerPhoneNumber">
          <small *ngIf="manufacturerForm.get('manufacturerPhoneNumber')?.hasError('required')&& manufacturerForm.get('manufacturerPhoneNumber')?.touched" style="color: red">Số điện thoại không được để rỗng.</small>
          <small *ngIf="manufacturerForm.get('manufacturerPhoneNumber')?.hasError('pattern')&& manufacturerForm.get('manufacturerPhoneNumber')?.touched" style="color: red">Nhâp đúng định dạng số điện thoại. </small>
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="email" class="label-text col-3">Email (<span style="color: red">*</span>):</label>
        <div class="col-9">
          <input formControlName="manufacturerEmail" class="form-control" type="text" id="email">
          <small *ngIf="manufacturerForm.get('manufacturerEmail')?.hasError('required')&& manufacturerForm.get('manufacturerEmail')?.touched" style="color: red">Email không được để rỗng.</small>

          <small *ngIf="manufacturerForm.get('manufacturerEmail')?.hasError('email')&& manufacturerForm.get('manufacturerEmail')?.touched" style="color: red">Nhâp đúng định dạng email. </small>

        </div>
      </div>
      <div class="row mb-3 mt-3">
        <label for="manufacturerNote" class="label-text col-3">Ghi chú (<span style="color: red">*</span>):</label>
        <div class="col-9">
          <input formControlName="manufacturerNote" class="form-control" type="text" id="manufacturerNote">
          <small *ngIf="manufacturerForm.get('manufacturerNote')?.hasError('required')&& manufacturerForm.get('manufacturerNote')?.touched" style="color: red">Ghi chú không được để rỗng.</small>
        </div>
      </div>
    </div>
    <div class="modal-footer">

   <button mat-dialog-close="" (click)="closeDB()" style="background: #567FEA;color: white" class="btn " ><i class="icon-sidebar fa fa-reply "></i>
        Trở về
      </button>

      <button  type="submit" [disabled]="manufacturerForm.invalid"  class="btn btn-info">Thêm mới</button>
    </div>
  </form>
</div>
